* {
    box-sizing: border-box;
}

body {
    background-color: #91DCBA;
  }

main {
  display: grid;
  height: 100vh;
}
  
/* FONTS */

h1 {
  text-align: center;
}

body {
  color: black;
  font-family: 'Golos Text', sans-serif, 'Source Serif Pro', serif;
  
}
.request_section h2 {
  text-decoration: underline;
  font-size: 24px;
}

.request_section h2, .request_section p {
  font-family: 'Mynerve', cursive;
  color: white;
  transform: skew(0, -4deg);

}
.request_section p {
  text-align: left;
  font-size: 24px;
}

/* GRID LAYOUT */
    .wrapper {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: 1fr 1.5fr  ;
      grid-template-rows: auto auto ;
      margin: auto; 
      width: 950px;
    }
  
    .box {
      padding: 20px;
  
    }
  
    .barepatch {
      background-image: url("../images/soil.jpg");
      background-size: contain; 
      height: 80px;
      width: 80px;
    }

    .watered {
      background-image: url("../images/puddle.png"), url("../images/soil.jpg");
      background-size: contain; 
    }

    .carrot_sown, .lettuce_sown, .potato_sown {
      background-image: url("../images/sesame.png"), url("../images/soil.jpg");
      background-size: contain;
    }

    .carrot_ready {
      background-image: url("../images/carrot.png"), url("../images/soil.jpg");
      background-size: contain;
    }

    .lettuce_ready {
      background-image: url("../images/lettuce.png"), url("../images/soil.jpg");
      background-size: contain;
    }

    .potato_ready {
      background-image: url("../images/potato.png"), url("../images/soil.jpg");
      background-size: contain;
    }
    
    .barepatch, .watered, .carrot_sown, .carrot_ready, .lettuce_ready, .lettuce_sown, .potato_sown, .potato_ready {
      border: 2px #3F3F3F solid;
      border-radius: 15%;
      filter: brightness(1.5);
    }
    
    .request_section {
      background: url("../images/chalkboard.png") no-repeat center;
      background-size: contain; 
      padding-top: 85px;
      padding-left: 150px;    
    }

    .field_section {
      display: grid;
      justify-content: center;
      grid-gap: 10px;
      grid-template-columns: auto auto auto auto;
    }

    .controls_section {
      display: grid;
      grid-template-columns: 1.5fr 1fr 1fr  1fr  1.5fr;
    }

    .control {
      justify-self: center;
      align-self: center;
    }

    .heading {
      grid-column: 1/-1; /* gets header to span all columns */
    }

/* REQUEST BOARD */

/* FARMING PATCH */

.barepatch {
  justify-self: center;
  align-self: center;
}

/* CONTROLS */

.tool_button {
  padding: 30px;
  border: 2px solid #3F3F3F;
  border-radius: 15%;
}

#prepare_soil {
  background: #8DCCFC url("../images/hose.png") no-repeat center;
  background-size: 80%;
}  

/* #sow_carrot, #sow_lettuce, #sow_potato {
  background-color: #50C781;
} */

#sow_carrot {
  background: #50C781 url("../images/carrot.png") no-repeat center;
  background-size: 80%;
}

#sow_lettuce {
  background: #50C781 url("../images/lettuce.png") no-repeat center;
  background-size: 80%;
}

#sow_potato {
  background: #50C781 url("../images/potato.png") no-repeat center;
  background-size: 80%;
}

#harvest {
  background: #FDB37D url("../images/shovel.png") no-repeat center;
  background-size: 80%;
}