* {
    box-sizing: border-box;
}

body {
    background-color: #91DCBA;
  }

main {
  display: grid;
  height: 100vh;
}
  
/* FONTS */

body {
  color: white;
}

.request_section p {
  text-align: left;
  font-size: 20px;
}

/* GRID LAYOUT */
    .wrapper {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: 1fr 1.5fr  ;
      grid-template-rows: auto auto ;
      margin: auto; 
      width: 950px;
    }
  
    .box {
      background-color: #444;
      border-radius: 5px;
      padding: 20px;
  
    }
  
    .box .box {
      background-image: url("../images/soil.jpg");
      background-size: contain; 
    }
    
    .request_section {
      background: url("../images/chalkboard.png") no-repeat center;
      background-size: contain; 
      padding-top: 35px;
      padding-left: 150px;    
    }

    .field_section {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: auto auto auto auto;
    }

    .controls_section {
      display: grid;
      grid-template-columns: 1.5fr 1fr 1fr  1fr  1.5fr;
    }

    .control {
      background-color: antiquewhite;
      border: 1px black solid;
      justify-self: center;
      align-self: center;
    }

    .heading {
      grid-column: 1/-1; /* gets header to span all columns */
    }

/* REQUEST BOARD */

    
